<footer>
	<section class="footer" aria-label="Footer">
		<div class="container">{{ page.footer }}
		</div>
	</section>
	<section class="copyright" aria-label="Copyright">
		<div class="container">
			<p align="center">
				©
				{{ 'now'|date('Y') }}
				{% trans %}Swifties4Kamala. All Rights Reserved.{% endtrans %}
				|
				<a href="/privacy">Privacy Policy</a>
			</p>
		</div>
	</section>
</footer>
