@import '../utilities.scss';

.site-wrap {
  .nav-open & {
    overflow: hidden;
  }

  &::before {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    @include transition(opacity .3s linear .1s);

    .nav-open &,
    .search-open & {
      opacity: .4;
      z-index: 3;

      .utility {
        z-index: 1;
      }
    }
  }

  .toggles {
    display: none;

    @include breakpoint(sm-max) {
      display: flex;
      justify-content: end;
    }
  }

  .toggles,
  .nav {
    .search-toggle {
      box-shadow: none;
      color: $secondary;
      cursor: pointer;
      font-size: $font-md;
      line-height: 1.2em;
      margin-left: 15px;
      @include transition(color .3s linear);

      @include breakpoint(sm-max) {
        font-size: 40px;
        margin-left: 0;
      }

      .search-open & {
        .icon-search {
          &::before {
            content: "\e912";
          }
        }
      }

      &:hover,
      &:focus {
        color: $secondary-lt;
      }
    }

    .nav-toggle {
      background: $primary-lt;
      box-shadow: none;
      display: none;
      height: 40px;
      margin: 2px 0 0 15px;
      padding: 10px 5px;
      position: relative;
      width: 40px;

      @include breakpoint(sm-max) {
        display: block;
      }

      span {
        background: #fff;
        border-radius: 3px;
        display: block;
        width: 30px;
        height: 2px;
        transform-origin: center;
        @include transition(margin .3s $cubic, transform .3s $cubic, background .3s linear);

        + span {
          margin-top: 7px;
        }

        .nav-open & {
          position: absolute;
          left: 6px;
          top: 18px;

          &:nth-of-type(1) {
            margin-bottom: -4px;
            margin-top: 0;
            transform: rotate(45deg);
          }


          &:nth-of-type(2) {
            margin-top: 0;
            transform: rotate(-45deg);
          }

          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }

  .header {
    // box-shadow: 0 0 5px 5px rgba(#000, .2);
    // background: $primary-xdk;
    color: #000;
    padding: $space-md 0;
    position: relative;
    width: 100%;
    z-index: 9;

    .nav-open &,
    .search-open & {
      @include breakpoint(sm-max) {
        background: $gray-xdk !important;
      }
    }

    .has-hero-image & {
      background: transparent;
      left: 0;
      position: absolute;
      top: 0;
      transition: top .3s $cubic;
    }

    .has-hero-image.toolbar-fixed & {
      top: 80px;
    }

    .inner {
      align-items: center;
      display: grid;
      gap: $space-lg;
      grid: auto / 1fr 4fr;

      @include breakpoint(sm-max) {
        grid: auto / 1fr 1fr;
      }
    }

    .nav-wrapper {
      align-items: center;
      display: flex;
      gap: $space-md;
      justify-content: end;

      @include breakpoint(sm-max) {
        margin-top: $space-sm;
      }
    }

    .site-branding {
      a {
        box-shadow: none;
        border: none;
        display: inline-block;
        outline: none;
      }

      img {
        height: 110px;
        @include transition(max-width .2s linear);

        @include breakpoint(sm-max) {
          height: 90px;
        }
      }
    }

    .site-search {
      background: $gray-xdk;
      color: #fff;
      left: 50%;
      width: 0;
      overflow: hidden;
      padding: $space-xs 0;
      position: fixed;
      top: 50%;
      @include translate(-50%, -50%);

      .search-open & {
        padding: $space-xl;
        width: 100vw;


        @include breakpoint(md) {
          width: 970px
        }

        @include breakpoint(lg) {
          width: 1170px;
        }

        @include breakpoint(xl) {
          width: 1400px;
        }

        @include breakpoint(sm-max) {
          left: -20px;
          padding: $space-xl $space-md 0;
          position: relative;
          top: 0;
          @include translate(0, 0);
        }
      }

      .grid {
        @include breakpoint(sm-max) {
          grid: auto / 1fr 1fr;

          div {
            &:nth-child(3) {
              grid-column: 1/3;
            }
          }
        }
      }

      .form-item {
        margin-bottom: $space-lg;
        justify-content: start;

        &.inline {
          display: block;
          position: relative;
        }

        input {
          border-radius: $border-radius-lg;
        }
      }

      .btn.outline {
        display: block;
      }

      .btn-search {
        background: none;
        border: none;
        box-shadow: none;
        color: $primary-lt;
        font-size: $font-md;
        padding: 0;
        position: absolute;
        right: $space-sm;
        top: 50%;
        @include translate(0, -50%);

        &:focus,
        &:hover {
          color: $secondary;
        }
      }

      .search-toggle {
        color: $secondary;
        cursor: pointer;
        font-size: $font-lg;
        position: absolute;
        right: $space-lg;
        top: $space-lg;

        @include breakpoint(sm-max) {
          display: none;
        }

        &:hover,
        &:focus {
          color: #fff;
        }
      }

      .item-list {
        ul {
          margin: 0;
          padding: 0;

          li {
            list-style-type: none;
            margin: 0 0 $space-sm 0;

            a {
              color: #fff;

              &:hover,
              &:focus {
                color: $secondary;
              }
            }
          }
        }
      }
    }

    .scroll & {
      // left: 0;
      // position: fixed;
      // top: 0;
      // z-index: 9;

      .site-branding {
        img {
          max-width: 250px;
        }
      }

      .nav {
        @include breakpoint(lg) {
          gap: $space-lg;
        }
      }

      a {
        font-size: $font-xxs !important;
      }
    }

    .utility {

      @include breakpoint(sm-max) {
        margin: $space-xl 0;
      }

      ul {
        margin: 0;
        padding: 0;
        text-align: right;

        @include breakpoint(sm-max) {
          text-align: left;
        }

        li {
          display: inline-block;
          line-height: 1em;
          margin: 0 0 0 $space-xs;

          + li {
            border-left: 1px solid $secondary;
            margin-left: $space-md;
            padding-left: $space-md;
          }

          @include breakpoint(sm-max) {
            display: block;
            margin: 0;

            + li {
              border: none;
              margin-top: 15px;
              margin-left: 0;
              padding-left: 0;
            }
          }

          a {
            color: #fff;
            font-size: $font-xxs;

            @include breakpoint(md) {
              font-size: $font-xxs;
              color: #fff;
            }

          }
        }
      }
    }

    .nav {
      display: flex;
      flex-wrap: wrap;
      gap: $space-md;
      justify-content: flex-end;

      @include breakpoint(sm-max) {
        background: $gray-xdk;
        display: block;
        max-height: 0;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: left;
        top: calc(100% + 25px);
        width: 0;
        z-index: 9;
        @include transition(width .3s $cubic);
      }

      &::before,
      &::after {
        display: none;
      }

      .nav-open & {
        @include breakpoint(sm-max) {
          padding: 0 $space-md;
          top: 100%;
          width: 100vw;
        }
      }
    }

    .menu {
      @include breakpoint(md-min) {
        display: flex;
        justify-content: end;
        order: 2;
        text-align: right;
      }

      @include breakpoint(sm-max) {
        margin: $space-xl 0;
      }

      .search-toggle {
        @include breakpoint(sm-max) {
          display: none;
        }
      }

      ul:not(.contextual-links) {
        margin: 0;
        padding: 0;

        @include breakpoint(sm-max) {
          list-style-type: none;
          text-align: left;
        }

        li {
          &.level-1 {
            display: inline-block;
            margin: 0 0 0 15px;

            @include breakpoint(sm-max) {
              border-bottom: 1px solid $secondary;
              display: block;
              padding-bottom: $space-md;
              margin: 0 0 $space-md 0;
            }

            &.parent {
              margin-bottom: -20px;
              padding-bottom: 20px;
              position: relative;

              @include breakpoint(md) {
                padding-right: $space-md;
              }

              @include breakpoint(sm-max) {
                margin-bottom: $space-md;
                padding-bottom: $space-md;
                padding-right: $space-md;
              }

              &::after {
                content: "\e90d";
                display: inline-block;
                font-family: icomoon;
                font-size: $font-sm;
                margin-left: 2px;
                vertical-align: -4px;

                @include breakpoint(md) {
                  font-size: 1em;
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                @include breakpoint(sm-max) {
                  position: absolute;
                  right: 0;
                  top: 0;
                }
              }

              &.open {
                &::after {
                  content: "\e90c";
                }

                > ul {
                  opacity: 1;
                  visibility: visible;
                  z-index: 3;

                  @include breakpoint(sm-max) {
                    height: auto;
                    margin-top: $space-sm;
                    padding: 0;
                    position: relative;
                  }
                }

                a {
                  background: none;
                }
              }

              &:hover {
                @include breakpoint(md-min) {
                  &::after {
                    content: "\e90c";
                  }

                  > ul {
                    opacity: 1;
                    visibility: visible;
                    z-index: 3;

                    @include breakpoint(sm-max) {
                      height: auto;
                      margin-top: $space-sm;
                      padding: 0;
                      position: relative;
                    }
                  }

                  a {
                    background: none;
                  }
                }
              }

              > ul {
                background: #fff;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
                left: 0;
                margin: 0;
                opacity: 0;
                padding: $space-md;
                position: absolute;
                text-align: left;
                top: 100%;
                visibility: hidden;
                z-index: -1;
                transition: opacity .3s linear .1s;

                @include breakpoint(lg) {
                  width: 275px;
                }

                @include breakpoint(sm-max) {
                  background: none;
                  height: 0;
                  padding: 0;
                  position: relative;
                }

                li {

                  a {
                    color: $primary;
                    font-weight: 400;
                    letter-spacing: 0;
                    text-transform: none;

                    @include breakpoint(sm-max) {
                      color: #fff;
                      font-size: $font-xxs;
                    }
                  }
                }
              }
            }
          }

          a {

            &:not(.btn) {
              color: #fff;
              font-family: $font-display;
              font-size: $font-sm;
              font-weight: 600;
              position: relative;
              text-decoration: none;
              @include underline($secondary);

              @include breakpoint(md) {
                font-size: $font-xxs;
              }

              @include breakpoint(sm-max) {
                color: #fff;
                font-size: $font-xs;
                text-decoration: none;
              }

              &:focus,
              &.is-active {
                color: $secondary;
              }

              &::after {
                display: none
              }

            }
          }
        }
      }
    }
  }
}
