@charset "UTF-8";
@import '../utilities.scss';

.site-wrap {
  .sidebar {
    h2 {
      font-size: $font-lg;
    }

    &.bottom {
      @include breakpoint(sm-max) {
        margin: $space-lg 0;
      }
    }

    .block {
      + .block {
        margin-top: $space-lg;
      }
    }

    .field--name-field-sidebar {
      > div {
        margin-bottom: $space-lg;
      }
    }

    .nav {
      border: none;
      border-left: 5px solid $primary;
      border-radius: 0;
      margin-bottom: $space-lg;
      padding: 0;

      @include breakpoint(sm-max) {
        border: none;
      }

      .menu-toggle {
        color: $gray-dk;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0 0 0 $space-md;
        position: relative;
        text-transform: uppercase;

        @include breakpoint(sm-max) {
          background: $primary;
          color: #fff;
          padding: $space-sm $space-md ;
        }

        &::after {
          content: "\e90d";
          font-family: icomoon;
          float: right;
        }

        &.open {
          &::after {
            content: "\e90c";
          }

          + div {
            border-color: $primary;
          }
        }

        + div {
          overflow: hidden;

          @include breakpoint(sm-max) {
            border: 2px solid transparent;
            max-height: 0;
            overflow: hidden;
          }

          nav {
            padding: $space-sm 0 0 $space-md;
          }
        }
      }

      ul:not(.contextual-links) {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

          &.level-1 {
            // display: none;

            &.active-trail {
              display: block;

              > a {
                display: block;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-bottom: 10px;
                text-transform: uppercase;
              }
            }

            > ul {
              margin: 10px 0 0 10px;

              .level-2 {
                > ul {
                  margin: 10px 0 0 10px;

                  .level-3 {
                    > ul {
                      border-left: 2px solid lighten($primary, 10%);
                      margin: 10px 0 0 10px;
                      padding-left: 10px;

                      .level-4 {
                        a {
                          font-size: 14px
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          a {
            font-size: 16px;
            line-height: 1.5em;

            &:hover,
            &:focus {
              color: $tertiary;
            }

            &.is-active {
              color: $tertiary;
            }
          }
        }
      }
    }
  }
}
