{#
/**
* @file
* Theme override to display a media item.
*
* Available variables:
* - name: Name of the media.
* - content: Media content.
*
* @see template_preprocess_media()
*
* @ingroup themeable
*/
#}
{% if content %}
  <div{{attributes.addClass('logo')}}>
    {% if content.field_link[0]['#url'] %}
      <a href="{{content.field_link[0]['#url']}}">{{ content.field_media_image }}</a>
    {% else %}
      {{ content.field_media_image }}
    {% endif %}
  </div>
{% endif %}
