@import '../utilities.scss';

.featured-logos {
  .logo-grid {
    align-items: center;
    align-content: center;
    display: inline-flex;
    justify-content: center;
    gap: 20px 80px;
    flex-wrap: wrap;
    margin: $space-lg 0;
    width: 100%;
  }

  .img {
    margin-bottom: $space-md;
    position: relative;

    img {
      width: 100%;
    }
  }

  .slick-slider {
    .slick-track {
      align-items: center;
      display: flex;

      .slick-slide {
        margin: 0 $space-xl;
      }
    }
  }
}
