@import 'utilities.scss';

/* Base */
@import '01 - base/typography';
@import '01 - base/icons';
@import '01 - base/buttons';
@import '01 - base/columns';
@import '01 - base/helpers';
@import '01 - base/forms';
@import '01 - base/content';
@import '01 - base/section';

/* Layout */
@import '02 - layout/sidebar';
@import '02 - layout/header';
@import '02 - layout/footer';
@import '02 - layout/grid-xl';

/* Components */
@import '03 - components/breadcrumbs';
@import '03 - components/social-share';
@import '03 - components/slick';
@import '03 - components/engagement-popup';

/* Pages */
/* To Do: set up page-based libraries */
@import '04 - pages/front';
@import '04 - pages/article';
@import '04 - pages/events';
@import '04 - pages/resources';
@import '04 - pages/newsroom';
@import '04 - pages/search';
@import '04 - pages/user-login';
